certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.1
numpy==1.15.3
oauthlib==2.1.0
pkg-resources==0.0.0
PyAlgoTrade==0.20
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
requests-oauthlib==1.0.0
retrying==1.3.3
scipy==1.1.0
six==1.11.0
tornado==5.1.1
tweepy==3.6.0
urllib3==1.24.2
ws4py==0.5.1
